# examples/sample.config
[runtime]
environment="$ENV||development"                  ; production / development / etc.
certs="$CERTS||env/certs"                        ; certificate directory cache

[server]
host="$HOST||example.com"                        ; hostname
port="$PORT||8443"                               ; port
cert="$CERT||default"						                 ; certificate provider

[cert]                                           ; default cert
domain="$HOST||example.com"
zone=""
type="clouddns"
email="admin@brank.as"
creds=""
token=""
wait="50s"
delay="25s"
extra=""

[cert "smtp"]
cert="$SMTP_CERT||||base64"

[google]
creds="$GOOGLE_CREDS||env/gsa.json||file"        ; "file" encoded gsa credentials loaded from disk,
                                                 ; relative to the current working directory

[service "something"]
content="$NAME||subdir/myfile||relfile"          ; "relfile" encoded file will be loaded relative to the original config file
                                                 ; for example, if the config file was on disk at /etc/myapp then
                                                 ; the /etc/myapp/subdir/myfile would be loaded as the value of content.

[example]
b64value="$B64VALUE||e30K||base64"               ; "base64" encoded value
