# examples/sample.config
[runtime]
environment="$ENV||production"                   ; production / development / etc.

[server]
host="$HOST||example.com"                        ; hostname
port="$PORT||8443"                               ; port
certs="$CERTS||./env/certs"                      ; certificate directory cache
certProvider="dns:godo:<domain>:<email>:<token>" ; certificate provider

[google]
creds="$GOOGLECREDS||env/gsa.json||file"         ; "file" encoded gsa credentials loaded from disk,
                                                 ; relative to the current working directory

[service "something"]
key="$NAME||subdir/myfile||relfile"              ; "relfile" encoded file will be loaded to the original config file
                                                 ; for example, if the config file was on disk at /etc/myapp then the
                                                 ; /etc/myapp/subdir/myfile value would be loaded

[example]
b64value="$B64VALUE||e30K||base64"               ; "base64" encoded value
